* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "PT Sans", sans-serif;
}

/* UTILITIES **************** */
.debug {
  background-color: rgb(242, 177, 177);
  border: 1px solid black;
  min-height: 80px;
}
.d-flex {
  display: flex;
}
.container {
  margin: 0 30px;
}
.btn {
  padding: 7px 15px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
}
.btn:hover {
  background-color: rgb(226, 225, 225);
  cursor: pointer;
}

/* HEADER ************ */
header {
  height: 75px;
  background-color: #0084fd;
}
header .container {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
header .container span {
  padding-top: 10px;
}
header .container .nav {
  display: none;
}

header .container ul {
  list-style: none;
  margin-top: 3px;
}
header .container ul li {
  margin-left: 15px;
}
header .container ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}
header .container ul li a:hover {
  text-decoration: underline;
  color: rgb(231, 229, 229);
}
/* TODO: sistemare la posizione del button nel header  */

header .container span:nth-child(2) {
  filter: invert();
  font-size: 2rem;
  display: block;
}

/* SECTION DEMO **************** */
.demo {
  padding: 50px 0;
}

.row {
  flex-direction: column;
}
.container .row .col {
  width: 100%;
  height: 450px;
  padding: 10px;
}
.demo .row .col.big {
  width: 100%;
  height: 700px;
}
.demo .row .col .card {
  border-radius: 20px;
  height: 100%;
  margin: auto;
  background-color: #b5deff;
  text-align: center;
  padding: 30px 30px;
}
.demo .col .card span {
  font-size: 6rem;
  color: #0285fd;
  display: block;
  margin-bottom: 25px;
}
.demo .col .card .title {
  font-size: 2.5rem;
  color: #0285fd;
  display: block;
}

.demo .row .col .card.big {
  flex-direction: column;
  height: 100%;
  text-align: start;
  padding: 0 30px;
  padding-top: 40px;
}
.card.big .sx,
.card.big .dx {
  width: 100%;
  height: 50%;
}
.demo .row .col .card.big .sx h2 {
  color: #0285fd;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.demo .row .col .card.big .sx p {
  text-align: start;
  margin-bottom: 40px;
}
.demo .row .col .card.big .sx .btn {
  background-color: #0084fd;
  font-size: 1.2rem;
  color: white;
  padding: 15px 50px;
}
.demo .row .card.big .dx {
  justify-content: center;
  align-items: end;
}
.demo .card.big .dx .immagine {
  width: 250px;
  height: 300px;
}
.demo .row .col .card.big .dx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* SECTION PLANNING ******** */
.planning {
  background-color: #9791e3;
  padding: 20px;
}
.planning .container .col {
  height: 600px;
}
.planning .col .card {
  height: 100%;
  border-radius: 20px;
  text-align: start;
  color: white;
}
.planning .card .cartoon {
  width: 100%;
  height: 50%;
  margin: auto;
  margin-bottom: 200px;
}
.planning .card .cartoon img {
  width: 100%;
  height: 100%;
}
.planning .card h2 {
  margin-top: -140px;
  margin-bottom: 40px;
  font-size: 2rem;
}
.planning .row .col:nth-child(2) .card {
  text-align: center;
  color: black;
  background-color: white;
}
.planning .row .col:nth-child(2) .card h2 {
  margin-bottom: 10px;
  font-size: 1.6rem;
}
.planning .row .col:nth-child(2) .card .btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #9791e3;
  color: black;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 20px;
}

/* SECTION TESTIMONIAL ******** */
.testimonial .row .col {
  height: 550px;
  padding: 10px 0;
}
.testimonial .col .card {
  height: 100%;
  border-radius: 30px;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  background-color: #9791e3;
}
.testimonial .col:first-child .card {
  background-color: white;
}
.testimonial .col:first-child .card p {
  color: black;
}
.testimonial .col .card h1 {
  font-size: 2rem;
  margin: 30px auto;
  color: #9791e3;
}
.testimonial .col .card p {
  line-height: 2.1;
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 1.1rem;
}
.testimonial .col .card span {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
.testimonial .col .card .photo,
.testimonial .col .card .text {
  width: 100%;
  height: 50%;
}
.testimonial .col .card .photo .image {
  width: 230px;
  height: 230px;
  margin: auto;
}
.testimonial .col .card .photo .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* SECTION BENEFITS *********** */
.benefits {
  background-color: #9791e3;
}
.benefits .container .title-benefit {
  width: 100%;
  height: 200px;
  text-align: center;
  line-height: 200px;
}
/* TODO: sistemare la size di h1  */
.benefits .container .title-benefit h1 {
  font-size: 1.7rem;
  color: white;
}
.benefits .container .row .col .card {
  height: 420px;
  padding: 20px;
  background-color: white;
  border-radius: 30px;
}
.benefits .container .row .col .card h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}
.benefits .container .row .col .card span {
  font-size: 1.7rem;
}
.benefits .container .row .col .card p {
  margin: 30px auto;
}
.benefits .container .row .col .card button {
  padding: 10px 50px;
  background-color: #9791e3;
  color: white;
}

/* SECTION ABOUT ************* */
.about .container .row .col {
  width: 100%;
  height: 800px;
}
.about .container .row .col .card {
  padding: 40px 30px;
}
.about .container .row .col .card h1 {
  font-size: 3rem;
  color: #9791e3;
}
.about .container .row .col .card p {
  margin-top: 50px;
}
.about .container .row .col:last-child {
  height: 400px;
}
.about .container .row .col:last-child .card {
  padding: 0 30px;
  color: #9791e3;
}
.about .row .col:last-child .card .btn {
  background-color: #9791e3;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
}
.about .row .col:last-child .profilo-img {
  position: relative;
  width: 180px;
  height: 180px;
}
.about .container .row .col:last-child .profilo-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.about .container .row .col:last-child .profilo-img span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3.2rem;
  color: #9791e3;
}
/* SECTION FREE *********** */
.free {
  background-color: #9791e3;
}
.free .container .row .col {
  height: 600px;
}
/* FOOTER ************ */
footer {
  height: 250px;
  text-align: center;
  background-color: #333333;
  color: white;
}

/*********************************
RESPONSIVE FOR TABLET
************************************ */
@media screen and (min-width: 768px) {
  .demo .container .row {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .demo .row .col {
    width: calc(100% / 3);
    height: 565px;
    padding: 10px;
  }
  .demo .row .col.big {
    width: 66.66666%;
    height: 565px;
  }
  .demo .row .col:nth-child(3),
  .demo .row .col:nth-child(4),
  .demo .row .col:nth-child(5) {
    height: 465px;
  }

  .planning .container .col {
    height: 1100px;
  }
  .planning .col .card {
    height: 93%;
  }

  .planning .row .card h2 {
    margin-top: 250px;
    font-size: 4rem;
  }
  .planning .card .cartoon {
    width: 100%;
    height: 50%;
    margin-top: 80px;
    margin-bottom: 0;
  }
  .planning .col:nth-child(2) .card h2 {
    margin-top: 180px;
    font-size: 2rem;
  }

  .about .container .row,
  .benefits .container .row {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .demo .row .col .card span {
    font-size: 4.7rem;
    color: #0285fd;
    display: block;
    margin-bottom: 25px;
  }
  .demo .row .col .card .title {
    font-size: 1.8rem;
    color: #0285fd;
    display: block;
  }
  .demo .col .card.big .dx {
    justify-content: flex-start;
    margin-left: 20px;
  }
  .demo .row .col .card.big .dx .immagine {
    width: 200px;
    height: 250px;
  }

  .benefits .row .col {
    width: 50%;
  }
  .benefits .container .title-benefit h1 {
    font-size: 3rem;
  }
  .about .container .row .col {
    width: 40%;
    padding-top: 50px;
  }
  .about .container .row .col.testo {
    width: 60%;
  }
  .about .container .row .col:last-child .card .btn {
    padding: 10px 20px;
    font-size: 16px;
  }
  .about .container .row .col:last-child .card p {
    font-size: 1.5rem;
  }
  .testimonial .container .row .col .card {
    flex-direction: row;
  }
  .testimonial .container .row .col .card .photo {
    width: 40%;
    height: 100%;
  }
  .testimonial .container .row .col .card .text {
    width: 60%;
    height: 100%;
    text-align: start;
  }
  .testimonial .container .row .col {
    height: 300px;
  }
}

/* **************************** 
RESPONSIVE FOR DESKTOP **************************** */
@media screen and (min-width: 1200px) {
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  header .container span:nth-child(2) {
    filter: invert();
    font-size: 2rem;
    display: none;
  }
  header .container .nav {
    padding-top: 7px;
    display: block;
  }

  .planning .container .row {
    flex-direction: row;
  }
  .planning .row .col {
    width: 35%;
    margin-left: 120px;
  }
  .planning .container .row .col:nth-child(2) {
    margin-left: 30px;
  }
  .planning .col .card {
    height: 60%;
    margin-top: 150px;
  }
  .planning .container .row .col:nth-child(2) .card {
    margin-top: 390px;
    height: 570px;
  }
  .planning .col:nth-child(2) .card h2 {
    margin-top: 10px;
  }
  .planning .card .cartoon {
    margin-top: 10px;
  }
  .planning .row .card h2 {
    margin-top: 270px;
    font-size: 2.3rem;
  }
  .benefits .row .col {
    width: calc(100% / 3);
  }
  .demo .row .col .card span {
    margin-bottom: 10px;
  }
  .demo .row .col .card.big .dx {
    justify-content: center;
    align-items: self-start;
  }
  .demo .row .col .card.big .dx img {
    width: 120%;
    height: 116%;
    object-fit: cover;
  }
  .demo .container .row .col {
    height: 350px;
    padding: 10px;
  }
  .demo .container .row .col.big {
    height: 350px;
    padding: 10px;
  }
  .demo .container .row .col.big .card {
    flex-direction: row;
  }

  .planning .container .row .col {
    padding: 10px;
  }
  .testimonial .container .row .col .card {
    flex-direction: row;
  }
  .testimonial .container .row .col .card .photo {
    width: 30%;
    height: 100%;
  }
  .testimonial .container .row .col .card .text {
    width: 70%;
    height: 100%;
    padding-top: 50px;
  }
  .testimonial .container .row .col {
    height: 300px;
  }
  .about .container .row .col {
    width: 30%;
    padding-top: 50px;
  }
  .about .container .row .col.testo {
    width: 70%;
  }
}
