* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITIES **************** */
.debug {
  background-color: rgb(242, 177, 177);
  border: 1px solid black;
  min-height: 80px;
}
.d-flex {
  display: flex;
}
.container {
  width: 98%;
  margin: 0 auto;
}

/* HEADER ************ */
header {
  height: 75px;
  background-color: #0084fd;
}
header .container {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
/* SECTION DEMO ********* */
.demo {
  margin-top: 20px;
}

.row {
  flex-direction: column;
}
.container .row .col {
  width: 100%;
  height: 380px;
  padding: 10px;
}
.container .row .col.big {
  height: 600px;
}
.container .row .col .card {
  border-radius: 20px;
  height: 100%;
  margin: auto;
  padding: 5px;
}

.container .row .col .card.big {
  flex-direction: column;
  height: 100%;
}
.card.big .sx,
.card.big .dx {
  width: 100%;
  height: 50%;
}
/* SECTION PLANNING ******** */
.planning {
  background-color: #9791e3;
}
.planning .container .col {
  height: 600px;
}
.planning .container .col .card {
  height: 100%;
  border-radius: 20px;
}

/* SECTION TESTIMONIAL ******** */
.testimonial .container .row .col {
  height: 600px;
  padding: 10px;
}
.testimonial .container .row .col .card {
  height: 100%;
  border-radius: 20px;
  flex-direction: column;
}
.testimonial .container .row .col .card .photo,
.testimonial .container .row .col .card .text {
  width: 100%;
  height: 50%;
}
.testimonial .container .row .col .card .photo .image {
  width: 200px;
  height: 200px;
  margin: auto;
  background-color: black;
  border-radius: 50%;
}
/* SECTION BENEFITS *********** */
.benefits {
  background-color: #9791e3;
}
.benefits .container .title-benefit {
  width: 100%;
  height: 200px;
}
.benefits .col {
  width: 100%;
  height: 400px;
}

/* SECTION ABOUT ************* */
.about .container .row .col {
  width: 100%;
  height: 800px;
}
.about .container .row .col:last-child {
  height: 400px;
}
/* SECTION FREE *********** */
.free {
  background-color: #9791e3;
}
.free .container .row .col {
  height: 600px;
}
/* FOOTER ************ */
footer {
  height: 250px;
  text-align: center;
  background-color: #333333;
  color: white;
}

/*********************************
RESPONSIVE FOR TABLET
************************************ */
@media screen and (min-width: 768px) {
  .demo {
    margin-top: 50px;
  }
  .demo .container .row {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .demo .container .row .col {
    width: calc(100% / 3);
    height: 565px;
  }
  .demo .container .row .col.big {
    width: 66.6%;
    height: 565px;
  }
  .benefits .container .row,
  .about .container .row {
    flex-direction: row;
  }
  .benefits .row .col {
    width: calc(100% / 2);
  }
  .about .container .row .col {
    width: 30%;
  }
  .about .container .row .col.testo {
    width: 70%;
  }
}
/* TODO: sistemare i col nella section benefits ----; */
